# dependencies
/node_modules

# misc
.DS_Store

# environment variables
.env
.env.local
.env.production
.env.development
.env.test
serviceAccountKey.json # Highly recommended to ignore this file as it contains secrets

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
serviceAccountKey.json